[Unit]
Description=NanoLumens Dark Room LED Sign
After=bluetooth.target
Wants=bluetooth.target

[Service]
Type=simple
User=nano_yiweib
WorkingDirectory=/home/nano_yiweib/led-sign
ExecStartPre=/usr/sbin/rfkill unblock bluetooth
ExecStartPre=/bin/sleep 25
ExecStart=/usr/bin/python3 /home/nano_yiweib/led-sign/sign_eink.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
